.footer {
    width: 100%;
    background: rgb(47,85,120);
    background: linear-gradient(0deg, rgba(47,85,120,1) 0%, rgba(47,85,120,1) 35%, rgba(130,129,127,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    
}

.socialMedia {
    color: white;
    margin-top: 15px;
    cursor: pointer;
    gap: 20px;  
}
.linkin{
    margin-right: 20px;
}

.footer {
    color: white;
    font-size: 20px;
}

