:root {
    --altruism-blue: #2F5578;
    --text-colour-white: #ffffff;
    --font-family: 'Ubuntu', 'arial', 'helvetica', 'sans-serif';
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container{
    margin: 15px;
    text-align: center;
}
.siteTitle {
    font-size: 50px;
    margin-left: 40px;
   
}
.nav li {
    font-size: 20px;
   
}
.nav {
    background: rgb(47,85,120);
    background: linear-gradient(180deg, rgba(47,85,120,1) 0%, rgba(47,85,120,1) 35%, rgba(130,129,127,1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
   padding-left: 10px;
   padding-right: 20px;
}

.nav ul {
    padding: 0;
    margin: 30px;
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 1px;
}

.nav li:hover {
    color: #82817F;
    padding: 5px;
    border-radius: 5px;
}

.nav li:active {
    /* background-color: red; */
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
    cursor: pointer;
    /* text-shadow: white 5px 5px 5px 5px; */
    transform: translateY(0.1rem);
    transition: transform 150ms;
}

