.portfolio {
    width:96%;
    height: 510px;
    margin-left: 40px;
    text-align: center;
    border-width: 100%;
   background-color: white;
  border-radius:5px;
}
.image{
  
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    display: inline;
}

.generator {padding: 5px;
   border: 10px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 0px;
   border-width: 200px;
   border-radius: 10px;
   background-color: rgb(175, 175, 202);
   box-shadow: 0 0 20px black; 
}
.tracker{
   padding: 5px;
   border: 10px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 0px;
   border-width: 200px;
   border-radius: 10px;
   background-color: rgb(175, 175, 202);
   box-shadow: 0 0 20px black;
}

.member{
    padding: 5px;
   border: 10px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
   border-width: 200px;
   border-radius: 10px;
   background-color: rgb(175, 175, 202);
   box-shadow: 0 0 20px black;
}

.note{
   padding: 5px;
   border: 10px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 0px;
   margin-bottom: 20px;
   border-width: 200px;
   border-radius: 10px;
   background-color: rgb(175, 175, 202);
   box-shadow: 0 0 20px black;
}

.readme{
   padding: 5px;
   border: 10px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   border-width: 200px;
   border-radius: 10px;
   background-color: rgb(175, 175, 202);
   box-shadow: 0 0 20px black;
}